body {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: black;
}
.Contacts {
    
    box-sizing: border-box;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #a6ca21;
    color: white;
}
.number {

    margin-left: 145px;
    margin-right: 16px;
}
.Menu {
    height: 72px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: start;
}
.Logo {
    color: #333333;
    font-family: "Varela Round";
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 32px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 145px;
}
.header_list {
    line-height: 32px;
    display: flex;
    flex-wrap: wrap;
    list-style-type:none;
    padding: 6px;
    margin-left: 30px;
    

}
.header_item {
    margin-right: 50px;
}
.header_link {
    
    line-height: 32px;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
    font-family: "Open Sans";
}
.Image {    
    position: relative;
    height: 640px;
}
.welcome {
    position: absolute;
    margin: auto;
    text-align: center;
    position: absolute;
    bottom: 200px;
    right: 450px;
    width: 570px;
    height: 308px;
    background-color: white;
    color: #a6ca21;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 1.5%;
}
.SayHello {
    font-family: 'Open Sans';
    margin-top: 40px;
}
.Free {
 
  
    text-align: center;
    color: #000000;
    font-size: 39px;
    line-height: 48px;
    padding: auto;
    margin: auto;
    margin-top: 10px;
    width: 416px;
    height: 100px;
}
.button {
    color: white;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 24px;
    background-color:#a6ca21;
    padding: 8px 18px;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 90px;
    border-color: #a6ca21;
}
.Cart {
    line-height: 32px;
    display: flex;
    flex-wrap: wrap;
    list-style-type:none;
    padding: 6px;
    margin-left: 560px;
    align-items: flex-end;
    justify-content: space-between;
}
.cart_img {
    align-items: flex-end;
    justify-content: space-between;
    line-height: 32px;
    flex-wrap: wrap;
    list-style-type:none;
    padding: 7px;
}
.cart_img1 {
    align-items: flex-end;
    justify-content: space-between;
    line-height: 32px;
    flex-wrap: wrap;
    list-style-type:none;
    padding: 9px;
}