body {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: black;
}
.Contacts {
    
    box-sizing: border-box;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #a6ca21;
    color: white;
}
.number {

    margin-left: 145px;
    margin-right: 16px;
}
.Menu {
    height: 72px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: start;
}
.Logo {
    color: #333333;
    font-family: "Varela Round";
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 32px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 145px;
}
.header_list {
    line-height: 32px;
    display: flex;
    flex-wrap: wrap;
    list-style-type:none;

}
.header_item {
    margin-right: 50px;
}
.header_link {
   
    line-height: 32px;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
    font-family: "Open Sans";
}