body {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: black;
}
.Contacts {
    
    box-sizing: border-box;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #a6ca21;
    color: white;
}
.number {

    margin-left: 145px;
    margin-right: 16px;
}